{% extends 'base.html'%}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'css/ProjectAndTutorialPageSpecific.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container" style="padding-left:0px;margin-left:0px;padding-right:0px;margin-right:0px; width:98%">
	<div class="col-md-10" style="padding-left:30px; padding-bottom:0px">
        <h1>{{ project.name }}</h1>
	</div>
	<div class="col-md-2" style="padding-right:0px;padding-bottom:0px;margin-right:0px">
		<div class="btn-group pull-right">
			<!-- <r> -->
				<button class="btn btn-primary ">Search Similar</button>
				<button class="btn btn-primary " style="margin-right:0px">Like</button>
			<!-- </r> -->
		</div>
	</div>
	<div class="row">
		<div class = "col-md-8" style="padding-left:47px">
		<!-- Text Edit Window Start-->
			<div class="wmd-container" style="max_width:100%">
                {# TODO: getrepositorytree #}
				<textarea id="wmd-input" class="wmd-input processed" data-min-length="" tabindex="101" rows="15" name="post-text"></textarea>
			</div>
			<!-- Test Edit Window End -->

			<!-- Drop Down Comments Box -->
				<div class="row">
					<div class = "col-md-12" style="padding-left:15px; padding-right:15px; margin-right:0px">
						<div class="panel panel-default">
							<div class="panel-heading" id="accordion">
								<!-- <span class="glyphicon glyphicon-comment"></span> -->
								Comments
								<div class="btn-group pull-right">
									<a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										<!-- <span class="glyphicon glyphicon-chevron-down"></span> -->
										Expand
									</a>
								</div>
							</div>
							<div class="panel-collapse collapse" id="collapseOne">
								<div class="panel-body">
									<div style="margin-right: 5px;overflow-y: scroll;height: 250px">
										<ul class="chat">
											<li class="left clearfix">
												<span class="chat-img pull-left">
													<img alt="User Avatar" src="{% static 'images/logos/profilethumbnail_purple.png' %}" style="width:50px; height:50px; margin-top:0px;">
												</span>
												<div class="chat-body clearfix">
													<div class="header">
														<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
															<span class="glyphicon glyphicon-time"></span>12 mins ago</small>
													</div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</div>
											</li>
											<li class="right clearfix">
												<span class="chat-img pull-right">
													<img alt="User Avatar" src="{% static 'images/logos/profilethumbnail.png' %}" style="width:50px; height:50px; margin-top:0px;">
												</span>
												<div class="chat-body clearfix">
													<div class="header">
														<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
														<strong class="pull-right primary-font">Bill "Bootstrap" Turner</strong>
													</div>
													<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</div>
											</li>
											<li class="left clearfix">
												<span class="chat-img pull-left">
													<img alt="User Avatar" src="{% static 'images/logos/profilethumbnail_purple.png' %}" style="width:50px; height:50px; margin-top:0px;">
												</span>
												<div class="chat-body clearfix">
													<div class="header">
														<strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
														<span class="glyphicon glyphicon-time"></span>14 mins ago</small>
													</div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</div>
											</li>
											<li class="right clearfix">
												<span class="chat-img pull-right">
													<img alt="User Avatar" src="{% static 'images/logos/profilethumbnail.png' %}" style="width:50px; height:50px; margin-top:0px;">
												</span>
												<div class="chat-body clearfix">
													<div class="header">
														<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
														<strong class="pull-right primary-font">Bill "Bootstrap" Turner</strong>
													</div>
													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
													</p>
												</div>
											</li>
										</ul>
									</div> <!-- Style tag close -->
								</div>
								<div class="panel-footer">
									<div class="input-group">
										<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
										<span class="input-group-btn">
											<button class="btn btn-warning btn-sm" id="btn-chat">
												Send
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Comments Section End -->

	<div class="col-md-3" style="padding-right:0px; margin-left:20px ">
		<!-- Grid 3 Begins -->
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Project Description</div>
				<div class="panel-body">{% if project.description %}{{ project.description }}{% endif %}</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Version Description</div>
				<div class="panel-body">{{ last_commit.title }} by {{ last_commit.author_name }}</div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Project Versions</div>
				<div class="panel-body">Panel content</div>
			</div>
		</div>
		<!-- Grid 3 Ends -->
	<!-- </div> -->
    </div>
</div>
</div>
{% endblock %}